---
interface Props {
  title?: string;
  date: Date;
}

const { date, title } = Astro.props;

const rwandanMonthNames = [
  'Mutarama',
  'Gashyantare',
  'Werurwe',
  'Mata',
  'Gicurasi',
  'Kamena',
  'Nyakanga',
  'Kanama',
  'Nzeli',
  'Ukwakira',
  'Ugushyingo',
  'Ukuboza',
];

const day = date.getDate();
const month = rwandanMonthNames[date.getMonth()];
const year = date.getFullYear();
---

<div>
  {title ? <span>{title}</span> : ''}

  <time datetime={date.toISOString()}>
    {day}
    {month}
    {year}
  </time>
</div>
