---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, category } = Astro.props;
---

<MainLayout {title} {description} image={heroImage}>
  <article>
    <header>
      <h1>{title}</h1>
      <small>{description}</small>
      {category?.length ? <br /> : ''}
      {category?.map(cat => <a href=`/${cat}` class="cat-link">{cat}</a>)}
      <img src={heroImage} alt="" /><br />
      <FormattedDate date={pubDate} title="Yasohotse:" /><br />
      {
        updatedDate ? (
          <FormattedDate title="Yahinduwe:" date={updatedDate} />
        ) : (
          ''
        )
      }
    </header>
    <slot />
  </article>
</MainLayout>

<style>
  img {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
  }

  .cat-link {
    margin-right: .5rem;
  }
</style>
