---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from './MainLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout {title} {description} image={heroImage}>
  <article>
    <header>
      <h1>{title}</h1>
      <small>{description}</small>
      <img src={heroImage} alt="" /><br />
      <FormattedDate date={pubDate} title="Published:" /><br />
      {updatedDate ? <FormattedDate title="Updated:" date={updatedDate} /> : ''}
    </header>
    <slot />
  </article>
</MainLayout>

<style>
  img {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
  }
</style>
